@font-face {
	font-family: MuseoSlab;
	src: url('assets/KomikaTitle-Kaps.ttf');
}

body {
	background-image:url('assets/halftone.png');
	background-repeat: repeat;
}	

#landing {
	padding-top: 5%;
	text-align: center;
}

#landing img {
	width:50%;
	height: 50%;

}

#landing h1 {
	margin-top: 0px;
	font-family: 'MuseoSlab';
	font-size: 60px;
	font-size-adjust: 0;
	font-weight: 500;
	color: #27ae60;
	margin-bottom: 0px;
	/*letter-spacing:-0.01em;*/
}
#landing h1 span {
	letter-spacing: -0.05em;
}
#landing h3 {
	margin-top: 0px;
	font-family: 'MuseoSlab';
	font-size: 36px;
	font-weight: 200;
	color: #2f4255;
}

#aboutLink:hover {
	cursor: pointer;
}

#projectsLink {
	cursor: pointer;
}

/*#aboutLink:hover {
	opacity: 0.8;
}

#projectsLink:hover {
	opacity: 0.8;
}*/