@font-face {
	font-family: Campton;
	src: url('assets/Rene.Bieder_Campton.Light.otf');
}
@font-face {
	font-family: Campton-Heavy;
	src: url('assets/Rene.Bieder_Campton.Medium.otf');
}
@font-face {
	font-family: Campton-Book;
	src: url('assets/Rene.Bieder_Campton.Book.otf');
}

body {
	margin: 0px;
	font-family: Campton;
	background-color: #36414d;
}

#sidebar {
	float: left;
	height: 100%;
	width: 20%;
	min-width: 200px;
	background-color: #414e5d;
}

#sidebar h1 {
	margin-bottom: 0px;
	color: #2ecc71;
	font-weight: 200;
	font-size: 18pt;
	text-align: center;
	cursor: pointer;
}

#sidebar h1:hover {
	color: #3bfa8c;
}

#sidebar hr {
	margin-top: 0px;
	color: #95a5a6;
	background-color: #95a5a6;
	border-style: solid;
  border-color: #95a5a6;
	margin-bottom: 30px;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 15px;
	line-height: 25px;
}

#sidebar h2 {
	/*margin-top: 0px;*/
	line-height: 0px;
	color: #95a5a6;
	font-weight: 200;
	font-size: 16pt;
	margin-bottom: 0px;
	padding: 0px;
}

#sidebar li {
	color: #95a5a6;
	font-weight: 200;
	font-size: 14pt;
	cursor: pointer;
}

#sidebar li:hover {
	color: #ecf0f1;
}

#icons {
	position: absolute;
	bottom: 2;
}

#icons img {
	opacity: 0.75;
	cursor: pointer;
}

#icons img:hover {
	opacity: 1;
}

.container {
	width: 180px;
	margin: auto;
}

#main {
	float: left;
	height: 100%;
	width: 80%;
	min-width: 400px;
}

#landing img {
	text-align: center;
	padding-left: 19%;
	padding-top: 6%;
	padding-bottom: 2%;
	height: 60%;
	width: 60%;
}

#landing h1 {
	font-family: Campton-Heavy;
	text-align: center;
	font-weight: 500;
	color: #ecf0f1;
}

#landing h1 span {
	color: #2ecc71;
}

.content {
	width: 600px;
	margin: 0px;
	display: inline;
}

/*START - WHO WE ARE PAGE*/

.bios {
	text-align: center;
}

.bios h1 {
	font-size: 36pt;
	font-weight: 500;
	color: #ecf0f1;
}

li.figures {
  display: inline-block;
	margin: 20px;
}

.figures {
	display: inline;
	margin: 0px;
}

.figures img{
	vertical-align: top;
	width: 200px;
	padding:10px;
	margin-right: 10px;
	background-color:#414e5d;
}

span.bioName {
	padding-top: 10px;
	font-family: Campton-Book;
	text-align: left;
	font-size: 24px;
	color: #ecf0f1;
	clear: both;
	display: block;
}

span.bioJob {
	font-family: Campton;
	text-align: left;
	font-size: 17px;
	color: #ecf0f1;
	clear: both;
	display: block;
}

/*END - WHO WE ARE PAGE*/

/*START AMISH PROJECT PAGE*/
#amishTitle {
	padding-left: 35%;
	width: 30%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#amishScreen {
	display: inline-block;

	float: left;
	width: 40%;
	margin-left: 4%;
	margin-right: 2%;
	margin-bottom: 4%;

	padding:10px;
	background-color:#414e5d;
}

#amishBar {
	margin: 0px;
}

#amishSidePanel {
	text-align: center;
	display: inline-block;
	padding: 4px;
	background-color: #414e5d;
	width: 36%;
	color: #95a5a6;
	font-weight: 200;
	font-size: 16pt;
	margin-top: 0px;
}

#amishRightScreen {
	width: 34.5%;
	margin-top: 0px;
	padding:10px;
	background-color:#414e5d;
}

#amishUnderPanel {
	padding: 3px;
	margin-left: 4%;
	margin-top: 4%;
	background-color: #414e5d;
	width: 80%;
	color: #95a5a6;
	font-weight: 200;
	font-size: 16pt;
}

a a:link  {color:#ecf0f1; background-color:transparent}
a:visited {color:#ecf0f1; background-color:transparent}
a:hover   {color:#000000; background-color:transparent}
a:active  {color:#000000; background-color:transparent}


.amish hr {
	color: #414e5d;
	background-color: #414e5d;
	border-style: solid;
	border-color: #414e5d;
	margin-bottom: 20px;
	width: 40%
}
/*END AMISH PROJECT PAGE*/

/*START STICK PROJECT PAGE*/
#stickTitle {
	padding-left: 35%;
	width: 30%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#stickScreen {
	display: inline-block;

	float: left;
	width: 40%;
	margin-left: 4%;
	margin-right: 2%;
	margin-bottom: 4%;

	padding:10px;
	background-color:#414e5d;
}

#stickBar {
	margin: 0px;
}

#stickSidePanel {
	text-align: center;
	display: inline-block;
	padding: 4px;
	background-color: #414e5d;
	width: 36%;
	color: #95a5a6;
	font-weight: 200;
	font-size: 16pt;
	margin-top: 0px;
}

#stickRightScreen {
	width: 34.5%;
	margin-top: 0px;
	padding:10px;
	background-color:#414e5d;
}

#stickUnderPanel {
	padding: 3px;
	margin-left: 4%;
	margin-top: 4%;
	background-color: #414e5d;
	width: 80%;
	color: #95a5a6;
	font-weight: 200;
	font-size: 16pt;
}

a a:link  {color:#ecf0f1; background-color:transparent}
a:visited {color:#ecf0f1; background-color:transparent}
a:hover   {color:#000000; background-color:transparent}
a:active  {color:#000000; background-color:transparent}

.stick hr {
	color: #414e5d;
	background-color: #414e5d;
	border-style: solid;
	border-color: #414e5d;
	margin-bottom: 20px;
	width: 40%
}
/*END STICK PROJECT PAGE*/
