@font-face {
	font-family: MuseoSlab;
	src: url('assets/KomikaTitle-Kaps.ttf');
}

body {
	background-image:url('assets/halftone.png');
	background-repeat: repeat;
}

#landing {
	padding-top: 5%;
	text-align: center;
}

#vsicon {
	width:50%;
	height: 50%;

}

#fbicon {
	padding-right: 5px;
	width:4%;
	height:4%;
}

#twicon {
	width:4%;
	height:4%;
}

#landing h1 {
	margin-top: 0px;
	font-family: 'MuseoSlab';
	font-size: 60px;
	font-size-adjust: 0;
	font-weight: 500;
	color: #27ae60;
	margin-bottom: 0px;
	/*letter-spacing:-0.01em;*/
}
#landing h1 span {
	letter-spacing: -0.05em;
}
#landing h3 {
	margin-top: 0px;
	font-family: 'MuseoSlab';
	font-size: 36px;
	font-weight: 200;
	color: #2f4255;
}

#aboutLink:hover {
	cursor: pointer;
}

#projectsLink {
	cursor: pointer;
}

#fbicon:hover {
	cursor: pointer;
}

#twicon:hover {
	cursor: pointer;
}

/* ABOUT PAGE */
#about {
	text-align: center;
}

#about_bar h1 {
	display:inline-block;
	margin-right: 20%;
	font-family: 'MuseoSlab';
	font-size: 60px;
	font-size-adjust: 0;
	font-weight: 500;
	margin-bottom: 0px;
	color: #2f4255;
	letter-spacing:0.01em;
}

#about_bar h1 span {
	letter-spacing: -0.05em;
}

#about_bar h3 {
	display:inline-block;
	font-family: 'MuseoSlab';
	font-size: 36px;
	font-weight: 200;
	color: #2f4255;
}

#developersLink:hover {
	cursor: pointer;
}

#contactusLink {
	cursor: pointer;
}
